*{
    /* m0+p0+ff */
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav{
    /* dg 格線*/
    display: grid;
    /* gtc 劃分導覽列 */
    grid-template-columns: 20% 70% 10%;
    /* bg */
    background: #eeeeee;
    /* bs 製造陰影 縮短 陰影面積 背景面積 陰影顏色  */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    /* 用於格線項目位置 */
    align-items: center;
    /* 固定導覽列 */
    position: fixed;
    width: 100%;
    z-index: 3;
    opacity: 0.9;
}

#logo img{
    width: 50px;
}

#link a{
    padding: 0 35px;
    /* 文字裝置 */
    text-decoration: none;
    font-weight: 900;
    color: #999;
    /* 文字會移動 */
    transition: 0.5s;
    border: 0;
}
/* 轉場效果 */
#link a:hover{
    color: #226641;
    border: 5px #226641;
}

/* 最新消息 */
#banner  div {
    /* vh螢幕高度 */
     height: 100vh; 
}

.banner1 {
    background-image: url(./img/banner_1.jpg);
    background-size: cover;
}

.banner2 {
    background-image: url(./img/banner_2.jpg);
    background-size: cover;
}

.banner3 {
    background-image: url(./img/banner_3.jpg);
    background-size: cover;
}

#banner{
    text-align: center;
    color: #fff;
}

#banner h1{
    padding: 30px;
    margin-top: 200px;
    font-size: 60px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#banner hr{
    width: 80%;
    margin: 0 auto;
    height: 5px;
    background: #fff;
    border: none;
}

#banner p{
    padding: 30px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#banner .slick-prev{
    left: 50px;
    z-index: 2;
    transform: scale(1.5);
}

#banner .slick-next{
    right: 50px;
    z-index: 2;
    transform: scale(1.5);
}

#banner .slick-dots{
    bottom: 25px;
}

/* 商品介紹 */
#products {
    width: 1280px;
    margin: 0 auto;
}

#products > div {
    display: grid;
    grid-template-columns:60% 40%;
    margin-top: 20px;
}

#products .pic img{
    width: 100%;
    height: 350PX;
    object-fit: cover;
}

#products .text{
    padding:  80px 30px 0 ;
}

#products .text h1{
    padding: 30px 0;
}

#products .text p{
    width: 300px;
    line-height: 3;
    padding: 10px 0 20px;
}
/* 選取要變更的指令 odd基數 even.偶數 */
#products > div:nth-child(2){
    /* 優先順序 */
    grid-template-areas: "pic text";
    /*  */
    grid-template-columns:40% 60%;

}
/* 賦予格線指令 */
#products > div:nth-child(2) .text{
    grid-area: text;

}
/* 賦予格線指令 */
#products > div:nth-child(2) .pic{
    grid-area: pic;

}
/* 按鈕設定 */
.button{
    padding: 8px 25px;
    /* 邊框 */
    border: 1px solid #226641;
    text-decoration: none;
    color: #226641;
    transition:  0.5s;
}

.button:hover {
    background: #226641;
    color: #fff;
}

/* 門市資訊 */
/* rep */
#info{
    display: grid;
   /* repeat(數量，寬度) */
    /* fr 格子 */
    /* 格子 / 數量 */
    /* 1fr / 3 */
    grid-template-columns: repeat(3, 1fr);
    /* 使用 repeat 可以用 間隙 */
    grid-gap: 15px;
    width: 1280px;
    margin: 50px auto 0;
}

#info .pic img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#info .text{
    padding: 0 10px;
}
#info .text h1{
    padding: 20px 0;
}

#info .text p{
    padding: 10px 0 25px;
    line-height: 2;
}

/* 其他服務 */

#service { 
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
}

/* 聚焦:選取此元素時 */
#service div:focus {
    /* 選取邊框:無 */
    outline: none;
}

#service img {
    width: 300px;
    height: 300px;
    /* 寬高一定要相同才能設定 變成圓形 */
    border-radius: 50%;
    /* 讓圖片滿版 */
    object-fit: cover;
    /* 顯示模式:區塊 */
    display: block;
    margin: 0 auto;
    transform: 0.5s;
}

#service img:hover{
    border-radius: 5px;
}

#service h2{
    text-align: center;
    margin-top: 10px;
}

/* 頁尾 */
footer{
    background-color: #f6f6f6;
    margin-top: 80px;
    padding: 50px;
    text-align: center;
}

#footer-social a {
    padding: 0 20px;
}

#starbucks {
    padding: 30px 0 20px;
}

#starbucks img {
    transition: 0.5s;
}

#starbucks img:hover {
    transform: scale(1.2);
}

#footer-link {
    padding: 20px 0;
}

#footer-link a{
    color: #226641;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.5s;
}

#footer-link a:hover{
    color: #999;
}

#contact {
    color: #999;
    font-size: 10px;
    padding: 5px 0;

}
#copy {
    color: #999;
    font-size: 8px;
} 
